@import url(https://fonts.googleapis.com/css?family=Roboto:400,200);
* {
  margin: 0;
  padding: 0; }

html, body {
  margin:  0;
  padding:  0;
  background:  #002b36; }

.h1 {
  font-size: 36px;
  font-style: bold;
  color: #eee8d5;
  text-align:center;
  margin-top:  50px; }

.h2 {
  font-size: 24px;
  font-style: bold;
  color: #b5b1a2;
  text-align:center;
}
  
.normal {
  font-size: 12px;
  color: #944692;
  position:absolute;
  bottom:0;
}

a.pink:link {
  color: hotpink;
  text-decoration: none;
}

a.pink:visited {
  color: hotpink;
  text-decoration: none;
}

a.pink:hover {
  color: hotpink;
  text-decoration: underline;
}

a.pink:active {
  color: hotpink;
  text-decoration: underline;
}

.table {
  border-collapse: collapse;
  width: 60%;
  margin: 20%; 
  text-align:center;
}
  
.row {
  text-align:center;
  margin-top:  150px; }

.row .column {
  display: inline;
  letter-spacing:  0.5em; }

.row .column a {
  font-size: 250%;
  color:  rgba(0,0,0,0) }

.row .column a:not(:hover) {
  opacity: 0.8;
  transition: opacity .5s; }

form {
  width: 100%;
  margin: auto;
  padding: 0px;
  text-align: center;
  background: #002b36;
  position: relative;
  top: 60px; }

.search {
  width: 440px;
  height: 25px;
  margin-right: 0px;
  padding: 5px;
  background: #002b36;
  font-family: "Roboto", "Consolas", "Helvetica", sans-serif;
  font-size: 14px;
  letter-spacing: 0.75px;
  color: #eee8d5;
  opacity: 0.8;
  border: 2.5px solid #073642; }
  .search:hover {
    border: 2.5px solid #073642; }
  .search:focus {
    outline: none;
    border: 2.5px solid #073642; }

icons {
  width: 500px;
  height: 40px;
  margin: 0px auto;
  padding: 45px 0;
  font: "Roboto", "Consolas", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #eee8d5;
  font-family: icons;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 0.0;
  opacity: 0.7;
}

icons h2 {
  margin: 0 0 8px;
  color: #eee8d5;
  font-size: 55px;
  font-weight: 300;
  text-align: center;
  opacity: 0.5;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

icons ul {
  margin: 0;
  padding: 0;
}

icons li {
  background: #eee8d5;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}
